body {
    font-family: 'Arial', sans-serif;
    background-color: #ecf0e0; /* Color verde claro */
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgba(0, 0, 255, 0.1); /* Color azul opaco */
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

h1 {
    text-align: center;
}

.task-form {
    margin-bottom: 20px;
}

.task-form input,
.task-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.task-form button {
    background-color: #008000; /* Color verde */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.task-form button:hover {
    background-color: #006400; /* Color verde más oscuro al pasar el ratón */
}

.task-list {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.task .actions {
    display: flex;
    gap: 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background: white;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.modal button {
    background-color: #008000; /* Color verde */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #006400; /* Color verde más oscuro al pasar el ratón */
}
